# this file is an env_file loaded in docker-compose.yml
# no quote around values
# contains sample TF_VAR (converted from config.app-openstack.tfvars.sample format)
TF_VAR_dns_ip=["10.1.1.1","10.2.2.2"]
TF_VAR_external_network=ext-net
TF_VAR_image=debian9-latest
TF_VAR_flavor=standard-2.2
TF_VAR_vol_size=10
TF_VAR_vol_type=default
TF_VAR_key_name=debian
TF_VAR_no_proxy=.my.cloud
#TF_VAR_color=green
#TF_VAR_blue_api_count=2
#TF_VAR_green_api_count = 2

